body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
} 
body{
	font-family:  arial,sans-serif;
	font-size: 22px;
	background-color: #2a363b;
}
ul, ol, li {
	list-style: none;
	transition: ease 0.5s;
	color:#FAFAFA;
}
h1{
	text-indent: 0.7em;
}
a{
	text-decoration: none;
}
.container{
	position: absolute;
	width: 300px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -150px;
}
.li{
	background-color: #99b898;
	text-indent: 2em;
	margin-bottom: 4px;
	cursor: pointer;
}
.liout{
	width: 300px;
	height: 34px;
	border-radius: 8px;
	line-height: 34px;
	background-color: #99b898;
}
.block{
	transition: all 2s;
	display: block;
	opacity: 0;
}
.show{
	display: none;
}
.lin{
	width: 240px;
	height: 26px;
	margin-top: 4px;
	margin-left: 40px;
	margin-right: 20px;
	line-height: 26px;
	border-radius: 6px;
	background: #ff847c;
}
.lin a{
	color:#fafafa;
	font-size:  20px;

}
.lin a:hover{
	color: 
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}