<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>HHH小站</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="container">
		<h2><a href="pages/resume.html" target="_blank">个人简历</a></h2>
		<div id="app">
			<ul>
				<li v-for="item in test" class="li liout" :style="{ marginBottom: item.size + 'px' }" @click="shownext(item)">
					{{item.title}}
					<transition name="fade">
						<ul v-if="!item.show">
							<li v-for="link in item.content" :class="{show:item.show}" class="lin"
							@click.stop="doThis(link)">
								<a :href="link.href" @click.prevent="" >{{link.ctitle}}</a>
							</li>
						</ul>
					</transition>
				</li>
			</ul>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>